<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sucursal Managment System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Sucursal List</h1>

    <a th:href="@{/ShowNewSucursalForm}" class="btn btn-primary btn-sm mb-3"> Add Sucursal </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Sucursal Nom</th>
            <th>Sucursal país</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sucursalDto : ${listSucursals}">
            <td th:text="${sucursalDto.nomSucursal}"></td>
            <td th:text="${sucursalDto.paisSucursal}"></td>
            <td> <a th:href="@{/update/{id}(id=${sucursalDto.pk_SucursalID})}" class="btn btn-primary">Update</a>
                <a th:href="@{/delete/{id}(id=${sucursalDto.pk_SucursalID})}" class="btn btn-danger">Delete</a>
                <a th:href="@{/getOne/{id}(id=${sucursalDto.pk_SucursalID})}" class="btn btn-primary black bg-aqua">Show</a>"
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>